.error {
    color: red;
    font-weight: bold;
    background-color: white;
    margin: 0 9em 0 9em;
}

label {
    margin: 0 9em 0 9em;
}

.label2 {
    margin: -10px;
    padding: 0 0 0 10px;
}

body {
    font-family: Verdana;
    margin: 0 25em 0 25em;
    color: #423e37;
}

nav a {
    padding-right: 2em;
    text-align: center;
}

li:nth-child(even) {
    border-bottom: groove;
}

nav,
h1 {
    text-align: center;
    margin: auto;
    padding: 1em;
}

.btn,
.button,
.bottom {
    width: 100px;
    padding: 0.5em;
    margin: 2em;
    border-radius: 30px;
    font-size: 14px;
}

a.bottom {
    position: fixed;
    bottom: 1em;
    right: 7em;
    width: 6em;
}


/* unvisited link */

a:link {
    text-decoration: none;
}

body {
    background-color: #94bab3;
}

input.button {
    display: block;
    margin: 0 auto;
    float: none;
    background: gray;
    color: white;
}

textarea,
input {
    display: block;
    margin: 0 auto;
    float: none;
}

.btn,
.bottom {
    background: gray;
    color: white;
}

a:link {
    color: #283d3b;
}

a:visited {
    color: #636856;
}

a:visited.btn,
a:visited.bottom {
    color: white;
}

h1,
h2:hover {
    color: white;
}


/*** color scheme 2
body {
    background-color: #423e37;
}

.btn,
.bottom {
    background: gray;
    color: black;
}

a:link {
    color: #d6ae6b;
}

a:visited {
    color: #9a9e91;
}

a:visited.btn,
a:visited.bottom {
    color: #d6d6ba;
}

h2:hover {
    color: #d6d6ba;
}

h1,
h2:hover {
    color: #d6d6ba;
}
***/