.error {
    background-color: firebrick;
    font-weight: bold;
    color: #d6d6ba;
    text-align: center
}

body {
    font-family: "Arial Black", Gadget, sans-serif;
    /*margin: 0 25em 0 25em;*/
    color: #d6d6ba;
}

.entry {
    color: #696969;
    margin: auto;
    width: 100%;
}

nav a {
    padding-right: 2em;
    text-align: center;
}

li:nth-child(even) {
    border-bottom: groove gray;
    color: #d6d6ba;
}

nav {
    text-align: center;
    margin: auto;
    padding: 2em 2em 0em 2em;
}

h1 {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 2em 2em 1em 2em;
}

.btn,
.button,
.bottom {
    /*width: 100px;*/
    padding: 0.5em;
    margin: 2em;
    border-radius: 2em;
    font-size: 1em;
}

a.bottom {
    position: fixed;
    bottom: 1em;
    right: 7em;
    width: 12em;
    text-align: center;
}

input.button {
    display: block;
    margin: 0 auto;
    float: none;
    background: gray;
    color: #d6d6ba;
    border-style: none;
    width: 12em;
    font-size: 1em;
}

textarea,
input {
    display: block;
    margin: 0 auto;
    float: none;
    background-color: #d6d6ba;
}

body {
    background-color: #423e37;
}

.btn,
.bottom {
    width: 12em;
    background: gray;
    color: #d6d6ba;
    text-align: centered;
}

h1,
a:link {
    color: #d6ae6b;
    text-decoration: none;
}

a:visited {
    color: #9a9e91;
}

h2:hover,
a:visited.btn,
a:visited.bottom {
    color: #d6d6ba;
}